.user-container{
    background-color: bisque;
    padding: 10px;
     color: black; 
     display: flex;
       flex-direction: column;   
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
     margin: 1rem; 
      border-radius: 4px; 
      width: 280px; 
    
       
     
}
#user-img{
     height: 160px;
     width: 160px;
     border-radius: 50%;
     /* object-fit: cover; */

}